<div>
  <div class="col-12 fw-bold d-flex justify-content-between mb-3">
    <p>Resultados para la búsqueda "DEMO"</p>
    <p><span class="text-danger">5</span> cursos</p>
  </div>
  <div class="col-12">

    <div class="card mb-4">
      <div class="card-body">
        <h5 class="card-title"><a href="#" class="text-decoration-none">Nombre del curso</a></h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat delectus id ullam et distinctio quae esse voluptatem consequuntur dolor perspiciatis reiciendis, eveniet cumque hic voluptate vero tempore, unde tempora quia.</p>

        <div class="d-flex mt-3">
          <span class="badge bg-secondary fw-normal me-2">Precio: {{100 | currency}}</span>
          <span class="badge bg-secondary fw-normal me-2">Horario: Mie y Vie 07:30 pm - 10:00 pm</span>
          <span class="badge bg-secondary fw-normal me-2">Institución: ABC</span>
        </div>
      </div>
    </div>

    <div class="card mb-4">
      <div class="card-body">
        <h5 class="card-title"><a href="#" class="text-decoration-none">Nombre del curso</a></h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat delectus id ullam et distinctio quae esse voluptatem consequuntur dolor perspiciatis reiciendis, eveniet cumque hic voluptate vero tempore, unde tempora quia.</p>

        <div class="d-flex mt-3">
          <span class="badge bg-secondary fw-normal me-2">Precio: {{100 | currency}}</span>
          <span class="badge bg-secondary fw-normal me-2">Horario: Mie y Vie 07:30 pm - 10:00 pm</span>
          <span class="badge bg-secondary fw-normal me-2">Institución: ABC</span>
        </div>
      </div>
    </div>

    <div class="card mb-4">
      <div class="card-body">
        <h5 class="card-title"><a href="#" class="text-decoration-none">Nombre del curso</a></h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat delectus id ullam et distinctio quae esse voluptatem consequuntur dolor perspiciatis reiciendis, eveniet cumque hic voluptate vero tempore, unde tempora quia.</p>

        <div class="d-flex mt-3">
          <span class="badge bg-secondary fw-normal me-2">Precio: {{100 | currency}}</span>
          <span class="badge bg-secondary fw-normal me-2">Horario: Mie y Vie 07:30 pm - 10:00 pm</span>
          <span class="badge bg-secondary fw-normal me-2">Institución: ABC</span>
        </div>
      </div>
    </div>

    <div class="card mb-4">
      <div class="card-body">
        <h5 class="card-title"><a href="#" class="text-decoration-none">Nombre del curso</a></h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat delectus id ullam et distinctio quae esse voluptatem consequuntur dolor perspiciatis reiciendis, eveniet cumque hic voluptate vero tempore, unde tempora quia.</p>

        <div class="d-flex mt-3">
          <span class="badge bg-secondary fw-normal me-2">Precio: {{100 | currency}}</span>
          <span class="badge bg-secondary fw-normal me-2">Horario: Mie y Vie 07:30 pm - 10:00 pm</span>
          <span class="badge bg-secondary fw-normal me-2">Institución: ABC</span>
        </div>
      </div>
    </div>

  </div>

  <div class="col-12 d-flex justify-content-center py-5">
    <button class="btn btn-outline-primary me-2">
      <fa-icon [icon]="faChevronLeft" class="me-1"></fa-icon>
      Página anterior
    </button>
    <button class="btn btn-outline-primary ms-2">
      Página siguiente
      <fa-icon [icon]="faChevronRight" class="ms-1"></fa-icon>
    </button>
  </div>
</div>