<div class="card mb-4">
  <div class="card-body">
    <h5 class="card-title"><a href="#" class="text-decoration-none">{{ course.name }}</a></h5>
    <p class="card-text">{{ course.description | summarize }}</p>

    <div class="d-flex mt-3">
      <span class="badge bg-secondary fw-normal me-2">Precio: {{ course.price | currency }}</span>
      <span class="badge bg-secondary fw-normal me-2">Horario: {{ course.schedule }}</span>
      <span class="badge bg-secondary fw-normal me-2">Inicio: {{ course.start | date }}</span>
    </div>
  </div>
</div>