<form action="" class="formulario"> 
    <h1>Inscríbete y comienza a aprender</h1>
    <hr/>
        <div class="contenedor">
            <div class="input-contenedor">
                <fa-icon [icon]="faUser" class="icon" ></fa-icon>
                <input type="text" placeholder="Nombre"><br>
            </div>
            <div class="input-contenedor">
                <fa-icon [icon]="faEnvelope" class="icon"></fa-icon>
                <input type="text" placeholder="Correo"><br>
            </div>
            <div class="input-contenedor">
                <fa-icon [icon]="faLock" class="icon"></fa-icon>
                <input type="password" placeholder="Contraseña">
            </div>

            <input type="submit" value="Registrarse" class="button">

            <p>¿Ya tienes cuenta?<a class="link" routerLink="/login"> Inicia sesión</a></p>
        </div>     
</form>








