<form *ngIf="isUser"  class="formulario" [formGroup]="form" >
    <h1 class="h3">Nueva Contraseña</h1>
    <hr />
    <div class="contenedor">
    <div class="input-contenedor rounded">
        <fa-icon [icon]="faLock" class="icon"></fa-icon>
        <input type="password" placeholder="Nueva Contraseña" formControlName="password" />
    </div>
    <div *ngIf="isRequiredField('password')"
          class="text-start text-danger fw-bold mt-1 error">
      Contraseña requerida
    </div>

    <div class="input-contenedor rounded">
        <fa-icon [icon]="faLock" class="icon"></fa-icon>
        <input type="password" placeholder="Repite la Contraseña" formControlName="password" />
    </div>


    <button (click)="resetPassword()" class="button rounded btn btn-primary">Guardar</button>
    </div>

</form>
