.card-text {
    font-size: .9rem;
    height: 80px;
    margin-top: 1rem
  }
  
  .card-title {
    height: 50px
  }
  
  .institution-container {
    cursor: pointer;
  }
  
  img {
    height: 150px;
  }