.profile-container {
  display: grid;
  grid-template-columns: 0.8fr 1fr;
  grid-template-rows: 1fr;
  gap: 14px;
  .photo-container {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .img {
      width: 320px;
      height: 320px;
      background-color: black;
    }
    p {
      font-size: 1.8rem;
    }
  }
  .profile-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      font-size: 2rem;
    }
    p {
      font-size: 1.2rem;
      margin: 0 0 .5rem 0;
    }
    br {
      content: "";
      width: 100%;
      height: 1px;
      background-color: black;
      margin: 0 0 .9rem 0;
    }
    .bold {
      width: 100%;
      margin: 0 0 .5rem 1rem;
    }
    input {
      margin: 0 0 1rem 0;
    }
    .email {
      cursor: no-drop;
    }
    textarea {
      width: 100%;
      margin: 0 0 2rem 0;
      overflow: hidden;
    }
    button {
      margin: 2rem 0 0 0;
    }
  }
}
