<div class="profile-container">
  <div class="photo-container">
    <div class="img"></div>
    <p>Usuario</p>
  </div>
  <div class="profile-details">
    <h1>Perfil P&uacute;blico</h1>
    <p>Añade infomaci&oacute;n sobre ti</p>
    <br />
    <p class="bold"><b>Informaci&oacute;n b&aacute;sica</b></p>
    <input class="form-control" type="text" value="Xiza73" />
    <input class="form-control email" type="text" value="xiza73@gmail.com" disabled />
    <textarea class="form-control" name="description" id="description" cols="10">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad natus est saepe delectus, veritatis nemo corporis sint nihil vel, a optio et. Laborum magnam praesentium ea! Facere error blanditiis laudantium!
    </textarea>
    <p class="bold"><b>Añadir o cambiar imagen:</b></p>
    <input type="file" class="form-control" id="upload" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
    <button class="btn btn-warning">Guardar</button>
  </div>
</div>
