<div class="row d-flex justify-content-center">

  <div class="col-10">
    <form [formGroup]="form" (submit)="saveData()">
      <h1>Perfil Público</h1>
      <p>Añade infomación sobre ti</p>
      <hr>
      <p class="bold mt-5"><b>Información básica</b></p>
      
      <input class="form-control" 
             type="text" 
             formControlName="username"
             placeholder="Nombre de usuario" />
      <div *ngIf="isRequiredField('username')"
            class="text-start text-danger fw-bold mt-1 error">
        Nombre de usuario requerido
      </div>
      <div *ngIf="isMinLengthInvalid('username')"
           class="text-start text-danger fw-bold mt-1 error">
        El nombre de usuario debe tener al menos 3 caracteres
      </div>
      <div *ngIf="isMaxLengthExceeded('username')"
           class="text-start text-danger fw-bold mt-1 error">
        No se debe exceder los 50 caracteres
      </div>
  
      <input
        class="form-control email mt-3"
        type="text"
        formControlName="email"
        [attr.disabled]="true"
      />
      <textarea class="form-control mt-3"
                name="description"
                id="description"
                cols="10"
                formControlName="aboutMe"
                placeholder="Descripción"
      >
      </textarea>
      <div *ngIf="isMaxLengthExceeded('username')"
           class="text-start text-danger fw-bold mt-1 error">
        No se debe exceder los 240 caracteres
      </div>
  
      <button class="btn btn-warning mt-5" type="submit">Actualizar perfil</button>
    </form>
  </div>
</div>
