<form class="formulario" [formGroup]="form"> 
    <h2 class="">Iniciar sesión</h2>
    <hr/>
    <div class="contenedor">
        <div class="input-contenedor">
            <fa-icon [icon]="faEnvelope" class="icon"></fa-icon>
            <input type="text" 
                   placeholder="Correo"
                   formControlName="email">
            <br>
        </div>
        <div class="input-contenedor">
            <fa-icon [icon]="faLock" class="icon"></fa-icon>
            <input type="password" 
                   placeholder="Contraseña"
                   formControlName="password">
        </div>

        <input (click)="login()" 
               [disabled]="form.pending || form.invalid"
               type="submit" 
               value="Iniciar sesión" 
               class="button">

        <p>¿No tienes una cuenta?<a class="link" routerLink="/register"> Regístrate</a></p>
    </div>     
</form>



