<div class="institution-container">
  <div class="row institution-data">
    <div class="col-4">
      <div class="img-container">
        <img src="./assets/images/course.jpg" alt="">
      </div>
    </div>
    <div class="col-8">
      <h1 class="mb-4">institutionName</h1>
      <p class="mb-3"><strong>Página: </strong><a href="#" target="_blank">link</a></p>
      <div class="col-8 contacto">
        <p class="mb-3"><strong>Contacto: </strong></p>
        <a href="#" target="_blank"><fa-icon [icon]="faFacebook" id="facebook"></fa-icon></a>
        <a href="#" target="_blank"><fa-icon [icon]="faTwitter" id="twitter"></fa-icon></a>
        <a href="#" target="_blank"><fa-icon [icon]="faInstagram" id="instagram"></fa-icon></a> 
      </div>
      <p class="mb-3"><strong>Correo: </strong>Lorem ipsum dolor sit amet </p>
    </div>
    <div class="row institution-description">
      <div class="col-12">
        <h1>Descripción:</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi facilis sunt non natus, delectus reprehenderit?</p>
      </div>
    </div>
  </div>
</div>









           
  
    
  
   
