<main class="row pt-4 d-flex justify-content-center mb-5 home-container">
  <div class="card col-10 mb-3">
    <div class="card-body mb-5">
      <h2 class="card-title">Bienvenido a Edutec</h2>
      <p class="card-text col-6">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam similique,
        quae sunt ullam obcaecati adipisci vero quaerat architecto ea qui
        expedita dolores, vel, quisquam sint?
      </p>
    </div>
  </div>
  <div class="col-10 mb-5 p-0">
    <p class="fw-bold px-2 pt-3">
      <fa-icon [icon]="faBook"></fa-icon>
      <span class="px-1"> Nombre del curso </span>
    </p>
    <form>
      <div class="form-group d-flex border rounded p-2">
        <input
          type="text"
          class="form-control"
          placeholder="Curso, categoría o palabra clave"
        />
        <button class="btn btn-primary">Buscar</button>
      </div>
    </form>
  </div>
  <!-- Courses container -->
  <div class="courses-container col-10 p-0">
    <div class="card col-12">
      <div class="card-body">
        <h5 class="card-title m-0 p-0">Cursos destacados</h5>
      </div>
    </div>
    <div class="d-flex justify-content-between align-items-center flex-wrap pt-4">
      <div *ngFor="let item of courses">
        <app-course-box></app-course-box>
      </div>
    </div>
  </div>
</main>
