<form class="formulario" [formGroup]="form">
    <h1 class="h3">Recupera tu Contraseña</h1>
    <hr />

    <p>Ingresa tu correo electronico y te enviaremos un enlace para que recuperes el acceso a tu cuenta.Revisa tu bandeja</p>
    <div class="contenedor">
        <div class="input-contenedor rounded">
            <fa-icon [icon]="faEnvelope" class="icon"></fa-icon>
            <input type="email" placeholder="Correo electrónico" formControlName="email" [maxlength]="50" />
        </div>
        <div *ngIf="isValidEmail()" class="text-start text-danger fw-bold mt-1 error">
            Ingrese un correo válido
        </div>

        <input  type="submit" value="Restablecer contraseña" class="button rounded"/>

        <p>
            Volver a <a class="link" routerLink="/login">  Iniciar sesión</a>
          </p>

    </div>
</form>